<div
  class="light-card"
  [class.error]="isError"
  [class.loading]="isLoading"
>
  <div class="title" translate="match.title"></div>
  <div class="photo-row">
    <div
      (click)="selectPicture(1)"
      [@popOut]="getPopOutState()"
      [@select]="getSelectState(1)"
      class="photo-container"
    >
      <div class="photo" [style.background-image]="picture1CssUrl"></div>
    </div>
    <div
      (click)="selectPicture(2)"
      [@popOut]="getPopOutState()"
      [@select]="getSelectState(2)"
      class="photo-container"
    >
      <div class="photo" [style.background-image]="picture2CssUrl"></div>
    </div>
  </div>
  <div *ngIf="isLoading && !isError && !isInSelectAnimation" class="message-container">
    <img class="spinner" alt="Loading" src="content/images/spinner.svg" />
  </div>
  <div *ngIf="isError" class="resource-misc">
    <div class="error-message" translate="match.error"></div>
    <a
      type="button"
      class="refresh-btn btn"
      translate="match.refresh"
      href="/"
    >
    </a>
  </div>
</div>
