@import 'variables';

.light-card {
  position: relative;

  @media (max-width: 600px) {
    padding: 2rem 1rem;
  }

  &.error {
    .title {
      visibility: hidden;
    }
  }

  &.error, &.loading {
    .photo-row {
      .photo-container {
        background: none;
      }
    }
  }

  .title {
    font-size: 2rem;
    color: $white;
    width: 100%;
    text-align: center;
    filter: $text-on-color-dropshadow;

    @media (max-width: 600px) {
      font-size: 1.6rem;
    }

    &.invisible {
      visibility: hidden;
    }
  }

  .photo-row {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;

    .photo-container {
      background-color: #FFFFFF73;
      border-radius: 10px;
      margin: 2rem;
      padding: 1rem;
      cursor: pointer;
      height: 30rem;
      width: 30rem;

      @media (max-width: 600px) {
        margin: 1rem;
        padding: 0.5rem;
      }

      @media (max-width: 800px) {
        height: 25rem;
        width: 25rem;
      }

      &:hover {
        background-color: #FFFFFF99;
      }

      &:active {
        background-color: #FFFFFFA6;
      }

      .photo {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  .message-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}
