@import 'variables';
@import 'mixins';

.navbar-container {
  padding: 1.6rem 2.4rem;

  @media (max-width: 360px) {
    padding: 1.4rem 1.8rem;
  }

  .info-btn {
    background: none;
    padding: 1rem;

    .label {
      font-size: 1.8rem;
      font-weight: $fw-bold;
      color: $white;
      filter: $text-on-color-dropshadow;

      @media (max-width: 360px) {
        font-size: 1.4rem;
      }
    }

    &:hover {
      .label {
        color: $surface;
        filter: none;
      }
    }

    &:active {
      .label {
        color: $surface-active;
        filter: none;
      }
    }
  }

  .page-title {
    font-size: 2.2rem;
    font-weight: $fw-bold;
    color: $white;
    filter: $text-on-color-dropshadow;

    @media (max-width: 500px) {
      font-size: 1.8rem;
    }

    @media (max-width: 360px) {
      font-size: 1.6rem;
    }
  }

  .navbar-link  {
    display: flex;
    padding: 1rem;
    border-radius: 5px;
    background: none;
    $size: 3rem;

    &:hover {
      background-color: #FFFFFF48;
    }

    &:active {
      background-color: #FFFFFF88;
    }

    &:hover, &:active {
      .icon {
        background: linear-gradient(to bottom right, $gradient-purple);
      }
    }

    .icon {
      &.back {
        @include color-overlay($size, $white, '/../../content/images/back-arrow.png');
      }

      &.rankings {
        @include color-overlay($size, $white, '/../../content/images/icon-rankings.png');
      }

      @media (max-width: 360px) {
        width: 2.4rem !important;
        height: 2.4rem !important;
      }
    }
  }
}
