// Colors
$pink: #F6386B;
$pink-hovered: #F64071;
$pink-active: #F74C7A;

$green: #AFFEAD;

$white: #FFFFFF;
$light-100: #EFEFEF;
$light-200: #E9E9E9;

$surface: #322846;
$surface-hovered: #3A304D;
$surface-active: #463E59;

$background: #201937;
$background-hover: #29223F;
$background-active: #37304B;

/**
  Note :
    - Hovered : 4%
    - Dragged : 8%
    - Pressed : 10%
    - Focused : 12%
 */

// Gradients
$gradient-pink: #DF6A7D, #C941A2 33%, #FE3761 66%, #781D2C;
$gradient-pink-light: #FFFFFF, #F79FDD 33%, #FFD8E0 66%, #F27D90;
$gradient-purple: #DCDCDC, #9A8DDB 50%, #9C6FF5;
$gradient-modal: #F1AB98, #BC65F6;

// Filters
$text-on-color-dropshadow: drop-shadow(0px 0px 2px #00000099);

// Font Families
$app-font-family: 'Roboto';
$app-font-family-mono: 'Roboto Mono';

// Font Weights
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-black: 900;

// Font Sizes
$font-size-extra-small: 1.3rem;
$font-size-small: 1.4rem;
$font-size-standard: 1.6rem;
$font-size-large: 1.8rem;
