// Colors
$blue-100: #17a2b8;
$blue-200: #3e8acc;
$green: #28a745;
$yellow: #ffc107;
$red: #dc3545;

$gray-100: #f8f9fa;
$gray-700: #495057;

// Font Families
$app-font-family: 'Roboto';
$app-font-family-mono: 'Roboto Mono';

// Font Weights
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-black: 900;

// Font Sizes
$font-size-extra-small: 1.3rem;
$font-size-small: 1.4rem;
$font-size-standard: 1.6rem;
$font-size-large: 1.8rem;
