@import 'variables';

.app-container {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, $gradient-pink);

  .bootstrap-container {
    max-width: none;
    flex: 1;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2rem;

    @media (max-width: 600px) {
      padding-top: 0;
    }
  }
}
